{% if keywords %}
Full table:<br>
<table border="1">
<tr>
    <th>campaign</th>
    <th>ad group</th>
    <th>keyword</th>
    <th>bid</th>
</tr>
    {% for k in keywords %}
    <tr>
        <td>{{ k.campaign.name }}</td>
        <td>{{ k.ad_group.name }}</td>
        <td>{{ k.name }}</td>
        <td>{{ k.bid }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
<br>
<form action="/bid/" method="post">
<input type="text" name="keyword">&nbsp;<input type="submit" value="search">
{% csrf_token %}
{% if results %}
    <table border="1">
    <tr>
        <th>campaign</th>
        <th>ad group</th>
        <th>keyword</th>
        <th>bid</th>
    </tr>
    {% for r in results %}
        <tr>
            <td>{{ r.campaign.name }}</td>
            <td>{{ r.ad_group.name }}</td>
            <td>{{ r.name }}</td>
            <td>{{ r.bid }}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}
</form>
